.aliments__list {
    display: flex;
    flex-direction: column;
    gap: var(--margin-x-mb);

    .aliments__el {
        display: flex;
        flex-direction: column;
        gap: var(--padding-mb);
        background-color: var(--color-background-secondary);
        // width: 100%;
        padding: var(--margin-mb);
        border-radius: 1rem;

        .aliment__nom {
            text-align: center;
            &::first-letter {
                text-transform: uppercase;
            }
        }
        .aliment__btn {
            display: flex;
            flex-direction: column;
            gap: var(--padding-mb);
        }
    }
}

@media screen and (min-width: 768px) {
    .aliments__list {
        flex-direction: row;
        flex-wrap: wrap;
    }
}
