.btn {
    position: relative;
    width: 150px;
    height: 40px;
    cursor: pointer;
    display: flex;
    align-items: center;
    // border: 1px solid #cc0000;
    border: none;
    background-color: #e50000;
    overflow: hidden;
    padding: inherit;

    .button__icon,
    .button__text {
        transition: all 0.3s;
    }

    .button__text {
        transform: translateX(35px);
        color: #fff;
        font-weight: 600;
    }

    .button__icon {
        position: absolute;
        transform: translateX(110px);
        height: 100%;
        width: 40px;
        background-color: #cc0000;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .svg {
        width: 20px;
        cursor: pointer;
    }

    &:hover {
        background: #cc0000;
    }

    &:hover .button__text {
        color: transparent;
        cursor: pointer;
    }

    &:hover .button__icon {
        width: 100%;
        transform: translateX(0);
        cursor: pointer;
    }

    &:active .button__icon {
        background-color: #b20000;
    }

    &:active {
        border: 1px solid #b20000;
    }

    &.btn--modifier {
        background-color: #1cca68;
        &:hover {
            background: #34ed84;
        }
        .button__icon {
            background: #34ed84;
        }
    }
    &.btn--supprimer {
        background-color: var(--color-error);
    }
}
